
{% extends "base.html" %}

{% load i18n %}

{% block title %}

  {% trans 'connexion' as login %}
  
  {{ login|capfirst }}
{% endblock %}

{% block content %}

  {% trans 'connexion' as login %}
  {% trans 'mot de passe oublié' as lost_password %}
  {% trans 'ou' as or %}
  {% trans 'créer un compte' as create_account %}

  <h1>{{ login|capfirst }}</h1>
  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}

  <form method="post" action="{% url 'login' %}"> {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="{{ login|capfirst }}" />
    <input type="hidden" name="next" value="{{ next }}" />
  </form>

  <div>
    <a href="{% url 'social:begin' 'google-oauth2' %}">Google</a>
  </div>

  <p><a href="{% url 'password_reset' %}">{{ lost_password|capfirst }}?</a></p>
  <p>-- {{ or|capfirst }} --</p>
  <div>
    <a href="{% url 'accounts-add' %}">{{ create_account|capfirst }}</a>
  </div>
{% endblock %}