{% extends 'base.html' %}

{% block title %}
  {% load i18n %}
  {% trans "réinitialisation effectuée" as reset_done %}

  {{ reset_done|capfirst }}

{% endblock %}

{% block content %}
  {% load i18n %}
  {% trans "vérifier votre boite mail" as check_mail%}
  {% trans "nous vous avons envoyé un email d'instruction afin de réinitialiser votre mot de passe. Vous devez recevoir cet email dans un moment" as instruction_check_mail%}

  <h1> {{ check_mail|capfirst }} </h1>
  <p> {{ instruction_check_mail|capfirst }} !</p>
{% endblock %}