{% extends "base.html" %}
 
{% block content %} 
  {% load i18n %}
  {% trans "entrez et confirmez votre mot de passe" as enter_pass %}
  {% trans "changer mot de passe" as change_pass %}
  {% trans "changement de mot de passe échoué" as failed_reset_pass %}
  {% trans "le lien que vous visitez n'est plus valide, probablement à cause du fait que ce lien a déjà été visité une fois. Visitez ce lien pour faire une nouvelle requête de changement de mot de passe" as new_request %}

  {% if validlink %}
  <p> {{ enter_pass|capfirst }} </p>
  <form action="" method="post">
    {% csrf_token %}

    {{ form.as_p }}
    <input type="submit" value="{{ change_pass|capfirst }}" />
  </form>
  {% else %}
    <h1> {{ failed_reset_pass|capfirst }} </h1>
    <p> {{ new_request|capfirst }} </p>
  {% endif %} 
{% endblock %}