{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
  {% load i18n %}
  {% load accounts_filters %}
  {% trans 'username' as username %}
  {% trans 'email address' as email_address %}
  {% trans 'first name' as first_name %}
  {% trans 'last name' as last_name %}
  {% trans 'langage' as language %}

  <h2>Profile</h2>
  <p>
    {% if object.avatar|starts_with:"http" %}
      <img src="{{ object.avatar }}" alt="{{ object.username }}" />
    {% elif object.avatar %}
      <img src="{{ object.avatar.url }}" alt="{{ object.username }}" />
    {% endif %}
  </p>

  <p> {{ username|capfirst }} : {{ object.username }} </p>
  <p> {{ email_address|capfirst }} : {{ object.email }} </p>
  <p> {{ first_name|capfirst }} : {{ object.first_name }} </p>
  <p> {{ last_name|capfirst }} : {{ object.last_name }} </p>
  <p> {{ language|capfirst }} : {{ object.language }} </p>
  <div>
      <a href="{% url 'accounts-update' pk=object.id %}">{% trans 'Mettre à jour votre compte' %}</a>
    </div>
  <div>
    <a href="{% url 'accounts-delete' pk=object.id %}">{% trans 'Supprimer le compte' %}</a>
  </div>
{% endblock %}
