
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
  {% load i18n %}
  {% trans 'connecté en tant que' as connected_as %}
  {% trans 'se déconnecter' as logout %}
  {% trans 'se connecter' as signin %}
  {% trans 'accueil' as home %}
  {% trans 'administration' as admin %}

  <main>
    <ul>
      <li><a href="{% url 'home' %}">{{ home|capfirst }}</a></li>
      <li>
        {% if user.is_authenticated %}
          {{ connected_as|capfirst }} 
          <a href="{% url 'accounts-detail' user.id %}">{{ user.username }}</a>!
          <p><a href="{% url 'logout' %}">{{ logout|capfirst }}</a></p>
        {% else %}
          <a href="{% url 'login' %}">{{ signin|capfirst }}</a>
        {% endif %}
      </li>
      {% if user.is_staff %}
        <li>
          <a href="{% url 'admin:index' %}">{{ admin|capfirst }}</a>
        </li>
      {% endif %}
    </ul>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>